<configuration>
    <appender name= "myconsole" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
           <pattern>
              %d{HH:mm:ss.SS} [%thread] %-5level %logger{36} - %msg%n
           </pattern>
       </encoder>
    </appender>

    <appender name="Myfile" class="ch.qos.logback.core.FileAppender">
        <file>
            journalApp.log
        </file>
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>journalApp-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>-->
<!--           <maxFilesSize>10MB</maxFilesSize>-->
<!--            <maxHistory>10</maxHistory>-->
<!--        </rollingPolicy>-->
        <encoder>
            <pattern>
                %d{HH:mm:ss.SS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="myconsole" />
        <appender-ref ref="Myfile" />
    </root>

</configuration>